body {
  position: relative;
  background-color: white;
  color: rgb(245, 47, 228);
  font-size: 16px;
  transition: background-color 1s ease;
  z-index: 1;
}

@keyframes spin {
  from { transform: translateY(0px); }
  to { transform: translateY(5px); }
}

/* Apply animation to the image */
#animatedImage {
  position: absolute; /* Ensure the image has a positioned parent */
  z-index: -1; 
  animation: spin 2s linear infinite; /* Rotate the image continuously */
  width: 100px;
  height: auto;
}

#clothingHeader {
  font-family: "Coiny", system-ui;
  display: flex;
  flex-direction: column;
  margin-left: 38%;
  text-shadow: rgb(111, 0, 255) 10px 0 10px, rgb(111, 0, 255) 20px 10px 20px;
  font-size: 1.5rem;
  border: solid;
  border-radius: 8px;
}

nav {
  font-family: "Dancing Script", cursive;
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  background: rgb(226, 79, 194);
  border: rgb(207, 158, 191) solid ;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  }
  
  nav a {
    font-size: 3em;
    width: 90%;
    margin: 0px 20px 0px;
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 10px 1px;
    z-index: 1;
    }
  
  nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background: linear-gradient(45deg, #f37ae3, #6c02f7);
  border-radius: 8px;
  transition: .5s;
  }
  
  nav a:nth-child(1):hover ~ span 
    {
    left: 0%;
    width: 10%;
    }
  
  nav a:nth-child(2):hover ~ span 
    {
    left: 9%;
    }
  
  nav a:nth-child(3):hover ~ span 
    {
    left: 20%;
    width: 12%;
    }
  
  nav a:nth-child(4):hover ~ span 
    {
    left: 30%;
    }
  
  nav a:nth-child(5):hover ~ span 
    {
    left: 39%;
    }
          
  nav a:nth-child(6):hover ~ span 
    {
    left: 48%;
    }
          
  nav a:nth-child(7):hover ~ span 
    {
    left: 60%;
    }
          
  nav a:nth-child(8):hover ~ span 
    {
      left: 68%;
    }
  
  nav a:nth-child(9):hover ~ span 
    {
      left: 79%;
      width: 10%;
    }
          
  nav a:nth-child(10):hover ~ span 
    {
    left: 90%;
    width: 10%;
    }  

#wingsWithin {
display: flex;
justify-content: center;
flex-direction: row;

}

.wWImage {
  background: no-repeat center/100% url('/images/clothing_images/Main Page Images/Main Page Images/image14.png');
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 8px;
  width: 50%;
  height: 200px;
  margin: 0 50px;
}

.wingsText {
  font-size: 1.50em;
}

#purrfectGetups {
  
  display: flex;
  margin: 5vh 15vh 0vh;
  flex-direction: row;
}

.getupsImage {
  background: no-repeat center/100% url('/images/clothing_images/Purrfect Getups- women/Purrfect Getups- women/image13.png');
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 8px;
  width: 50%;
  height: 200px;
  margin: 0 50px;
}

.getupsText {
  font-size: 1.50em;
}

#customMerch {
  display: flex;
  flex-direction: row;
}

.merchImage {
  background: no-repeat center/100% url('/images/clothing_images/Main Page Images/Main Page Images/image3.jpeg');
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 8px;
  width: 50%;
  height: 250px;
  margin: 0 50px;
}

.merchText {
  font-size: 1.50em;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  } 

  a[href^='mailto']::before {
    content: '📭 ';
  }
  
  a[href^='tel']::before {
    content: '🤳🏾 ';
  }

  /* ----------------------------------------------------------------------staryt of screen sizing for mobile devices--------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {

  
  nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 12%;
    height: 10%;
    background: none;
    border-radius: 8px;
    transition: .5s;
    }
  

a {
  display: flex;
  justify-content: center;
  height: 25px;
  background-color: rgb(255, 0, 221);
  border: black solid;
  border-radius: 8px;
  margin: 10% 10% 10%;
}
nav {
  background: none;
  width: auto;
  display:inline-block;
  justify-content: center;
  align-items: center;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
}
nav a:nth-child(1):hover ~ span 
{
transform: translateY(5%);

}

nav a:nth-child(2):hover ~ span 
{
  transform: translateX(0%) rotate(10deg) translateY(5px);

/*   transform: translateY(15%);
width: 12%;
height: 10%;*/

}

nav a:nth-child(3):hover ~ span 
{
transform: translateY(25%);
}



  

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
/* mutable until perfected for ipads and some laptops*/
}

@media only screen and (min-width: 1025px) {

}