body {
  padding: 20px;
  background: url('../images/matrix.jpg') no-repeat center / cover;
  color: white;
  text-rendering: optimizeLegibility;
}


nav {
display: flex;
position: relative;
width: 624px;
height: 50px;
background: lightgreen;
border-radius: 8px;
justify-content: center;
align-items: center;
}

nav a {
position: relative;
display: inline-block;
font-size: 1em;
font-weight: 500;
color: white;
text-decoration: none;
padding: 10px 1px;
z-index: 1;
}

nav span {
position: absolute;
top: 0;
left: 0;
width: 50px;
height: 100%;
background: linear-gradient(45deg, #194f1c, #ff3333);
border-radius: 8px;
}

nav a:nth-child(1):hover ~ span {
left: 0;
}

nav a:nth-child(2):hover ~ span {
  left: 50px;
  }

nav a:nth-child(3):hover ~ span {
    left: 125px;
    }

nav a:nth-child(4):hover ~ span {
      left: 200px;
      }


.headertwo {
text-shadow:0px 1px 0px #09f544,
0px 1px 10px #09f544;
}
.develop {
  color: white;
  text-decoration: underline #28ff28;
  font-family: "Dancing Script", cursive;
  text-shadow: 10px 10px 10px rgb(7, 52, 202),
  20px 20px 20px rgb(7, 52, 202);

}




.underDev {
display: flex;
font-family: "Lemon", serif;

}


#boxOne {

text-align: center;
border-radius: 25% 10%;
width: 150px;
height: 70px;
background: green;
margin: 10px;
position: relative;
cursor: pointer;
border: solid rgb(188, 218, 188);
}
#boxOne::before {
content: attr(data-tooltip);
position: absolute;
width: 200px;
color: rgb(0, 255, 0);
top: 50%;
left: calc(100% + 10px);
translate: 0 -50%;
background: black;
display: none;
padding: 10px;
border-radius: 10px;
}
#boxOne:hover::before {
display: block;

}


a {
color: aqua;
}













.contactinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25em;
  color: aqua;
} 

a[href^='mailto']::before {
  content: '📭 ';
  
}

a[href^='tel']::before {
  content: '🤳🏾 ';
}
