body {
  background: url('../images/shores.jpg') no-repeat center / cover;
  font-size: 18px;
  
  
  }
/*use rem instead of px for font-size
use em for paddings/margins*/
.heading {
  font-family: "Dancing Script", cursive;
  text-shadow: 1px 1px 2px rgb(0, 153, 255);
  border: solid;
  color: azure;
  margin: 100px 350px 20px;
}

.underHead {
  display: flex;
  justify-content: center;
  font-family: "Lobster", sans-serif;
  background:url('../images/universe.jpg') no-repeat center / cover;
}


  .tablinks {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(13, 235, 217); 
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
  );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  
  .tablinks:hover {
    background-color: #9bd2db;
  }
  
  
  .tablinks.active {
    background-color: #ccc;
  }
  
  

  @keyframes bounce {
    from {
      margin-bottom: 100% 
    }
    to { 
      margin-top: 0%;
    }
  }

  .anim {
    color:rgb(2, 1, 3);
    text-shadow: #9bd2db;
    animation: bounce 3s 1 ease-in-out ;
  } 


  .information {
    margin: 30px 0px 0px;
    display: flex;
    width: 100%;
    height: 400px;
    background-image:url('../images/friends_campfire.jpg');/*, linear-gradient(to right, rgb(126, 245, 245), rgba(193, 156, 231, 0));*/
    background-repeat: no-repeat;
    background-position: right;
    overflow: scroll;
    scrollbar-color: red ;
  }

  .leftchapter {
    animation: 3s ease-in 1s infinite reverse both running slidein;
    color:rgb(5, 4, 1);
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgb(201, 132, 195)
  }

  .rightchapter {
    font-size: 2rem;
    flex-wrap: wrap;
    text-shadow: 1px 1px 2px rgb(88, 186, 224), 0 0 1em rgb(88, 186, 224), 0 0 0.2em blue;
  }
  
  .contactinfo {
    align-items: center;
    
  } 

  a[href^='mailto']::before {
    content: '📭 ';
  }
  
  a[href^='tel']::before {
    content: '🤳🏾 ';
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .body {
        width: 100%; /* Adjust as needed */
    }
    /* Add more desktop-specific styles here */
  }   
    