body {
  background: #dda0dd url('../images/shores.jpg') no-repeat center / cover;
  /*max-width:600px*/
  }
/*use rem instead of px for font-size
use em for paddings/margins*/
.heading {
  font-family: "Dancing Script", cursive;
  border: solid;
}
  .tablinks {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(117, 112, 184);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
  );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  
  .tablinks:hover {
    background-color: #f10bd3;
  }
  
  
  .tablinks.active {
    background-color: #ccc;
  }
  
 
  
  .information {
    width: 100%;
    height: 400px;
    background-image:linear-gradient(to right, rgb(115, 30, 82), rgba(111, 19, 209, 0));
    background-repeat: no-repeat;
    background-position: right;
  }

  @media only screen and (min-width: 768px) {
    .container {
        width: 70%; /* Adjust as needed */
    }
    /* Add more desktop-specific styles here */
  }   
    
  @media only screen and (max-width: 767px) {
    .container {
        width: 90%; /* Adjust as needed */
    }
  }